div {
    background-color: black;
    color: aqua;
    cursor: pointer;
    }
p {
    font-style: italic;
    font-size: 30px; 
    margin-left: 60px;
    position: relative;
  }
h1 {
    font-size: 40px; 
  }
h1:hover {
  color: purple;
}
h3:hover {
  color: yellow;
}
ol li {
    list-style-type: none; 
    cursor: zoom-in;
   }
ol li:before {
    color: aqua; 
    content: "๏_๏"; 
    padding-right: 10px;
   }
 ol li:hover {
    font-size: 50px;
   }
  img {
    cursor: grab;
  }
  button:hover {
   color: purple;
   cursor: wait;
  }
.letter { 
    color: red;
    top: 5px;
    font-size: 40px;  
}
.html { 
  color: yellow;
  top: 5px;
  font-size: 40px;  
}
.css { 
  color: blue;
  top: 5px;
  font-size: 40px;  
}
.js { 
  color: greenyellow;
  top: 5px;
  font-size: 40px;  
}
.callback
{
  color: purple;
  top: 5px;
  font-size: 40px;  
}
.front
{
  color: orange;
  top: 5px;
  font-size: 40px;  
}
.currying
{
  color: lightpink;
  top: 5px;
  font-size: 40px;  
}
.closures
{
  color: grey;
  top: 5px;
  font-size: 40px;  
}
.recursion
{
  color: violet;
  top: 5px;
  font-size: 40px;  
}
  select
  {
    font-size: 30px;
    width:60px;
  }
button
{
  background-color: aqua;
}
.footer {
  font-size: 20px;
  text-align: right;
  margin-right: 240px;
}
nav {
  width: 960px;
  margin: 0 auto;
}
nav:before {
  content:'';
  display:block;
  height:50px;
  width:100%;
  background: black;
  position: absolute;
  left:0;
  z-index:-1;
}
nav ul{
  margin:0;
  padding:0;
  list-style:none;
  height:60px;
}
 nav ul li {
  float:left;
}
 nav ul li a{
  color:aqua;
  display:block;
  height:60px;
  padding:0 30px;
  text-transform:uppercase;
  text-decoration:none; 
  line-height:50px;
}
 nav ul li a:hover{
  background: red;
}
